body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 1s all; /* CSS変更時動くように */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  background-color: gray;
  width: calc(350px / 1.25);
  height: calc(650px / 1.25);
  border-radius: 5px;
}

.screen-header {
  width: 50%;
  padding: 1.25px;
  height: 40px;
  backdrop-filter: blur(2.5px);
  display: flex;
  border-radius: 5px 5px 0 0;
}

.screen-header-left {
  display: flex;
  align-items: center;
}

.screen-header-left img {
  height: 80%;
  margin-left: -6px;
}

.screen-header-name {
  margin-left: 2px;
  font-size: 14px;
  font-weight: lighter;
  padding-bottom: 3px;
  width: 96px;
  height: 37.5px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  color: white;
  font-weight: bold;
  opacity: 0.95;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.screen-header-right {
  display: flex;
  align-items: center;
}

.screen-header-right img {
  height: 65%;
  margin-left: 10px;
  padding-top: 1px;
}

.screen-body {
  width: 100%;
  height: calc(100% - 79.5px);
  display: flex;
  flex-direction: column;
}

.screen-body-msg {
  height: calc(650px / 1.25 - 79.5px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.screen-body-msg::-webkit-scrollbar {
  width: 2px;
}

.screen-body-msg::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.screen-body-msg::-webkit-scrollbar-thumb {
  background: #000000ac;
  border-radius: 10px;
}

.screen-input-box {
  position: absolute;
  margin-top: 12px;
  font-size: 12px;
  opacity: 0.4;
  font-weight: 550;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  margin-left: 115px;
}

/*msg-me*/

.msg-me {
  display: flex;
  justify-content: end;
  margin-top: 5px;
  margin-bottom: 5px;
}

.msg-me-text {
  width: auto;
  max-width: 170px;
  background-color: hsl(113, 60%, 68%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-weight: 450;
  color: black;
  padding: 6px 11px;
  margin-right: -3px;
  margin-top: 1px;
  font-size: 14px;
  border-radius: 15px;
}

.msg-me-info {
  color: #fff;
  font-size: 4px;
  font-weight: lighter;
  transform: scale(0.85);
  margin-right: 2.5px;
  opacity: 0.8;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.msg-me-img {
  /*左右反転*/
  transform: scaleX(-1) scale(1.2) translate(5px, -1px);
}

.msg-you {
  display: flex;
  margin-left: 8px;
  flex-direction: column;
}

.msg-you-icon {
  width: 22.5px;
  height: 22.5px;
  margin: 1.25px;
  border-radius: 9999px;
  display: flex;
}

.msg-you-name {
  font-size: 12px;
  font-weight: lighter;
  /*text space*/
  white-space: nowrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 1px;
  margin-top: -3px;
  padding: 1px;
  color: #f1f1f1;
  transform: scale(0.875);
}

.msg-you-text {
  width: auto;
  max-width: 170px;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 6px 11px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-weight: 450;
  color: black;
  font-size: 14px;
  margin-left: 30px;
  margin-top: -7px;
}

.msg-you-img {
  transform: translate(35px, -53.5px);
}

.msg-you-flex {
  display: flex;
  align-items: end;
}

.msg-you-time {
  color: #fff;
  font-size: 4px;
  font-weight: lighter;
  transform: scale(0.85);
  margin-left: 3px;
  height: auto;
  opacity: 0.8;
}

.msg-sys-text {
    text-align: center;
}

.msg-sys-text span {
    background-color: rgba(86, 86, 86, 0.43);
    backdrop-filter: blur(0.5px);
    color: #fff;
    font-size: 11px;
    font-weight: lighter;
    width: auto;
    padding: .75px 24px;
    border-radius: 99px;
    word-wrap: break-word;
}